body{

    background-color: lemonchiffon;    
}
b{
    background-color: aqua;
}
strong{
    background-color: burlywood;
}
.Container{
    background-color: white;
    border: 2px solid black;
    margin-top: 20px;
    margin-right: 300px;
    padding: 10px;
}
#Con{
    background-color: white;
    border: 2px dotted red; 
    margin-top: 15px;
    margin-right: 300px;
    padding: 10px;
    color: red;

}